<div id="wrapper container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="title">高専祭とは ━What’s Kosen festival?</h1>
    </div>
    <div class="col-sm-5 about-article">
      <div></div>
      <div>
        <h4>
          高専祭とは…
        </h4>
      </div>
      <div>
        石油王や着ぐるみがいる、ハピハピでテーマパークな文化祭だよ♪
        　ここではヤバい人もへんてこな人もみんな楽しんで、最後には幸せになって帰っていくんだ。
      </div>
      <div>
        そんなハピハピるんるんな高専祭は、去年はドーナツ屋や焼鳥屋、クレープ屋などがテントで出店してたよ。みんな幸せそうに食べてたよ。
        学校内では小学校の展示や科学部が出し物してたよ。
      </div>
      <p>
        ぜひみんな来てね♪
      </p>
    </div>
    <div class="col-sm-6 offset-sm-1">
      <img
        src="https://www.sendai-nct.ac.jp/wp/wp-content/uploads/2018/10/hirose1.jpg"
        class="img-full"
      />
      <div><a href="https://www.sendai-nct.ac.jp">仙台高専HP</a>から引用</div>
    </div>
  </div>
</div>
