<div id="wrapper container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="title">高専祭とは ━What’s Kosen festival?</h1>
    </div>
    <div class="col-sm-5">
      <p>
        高専祭とは…独立行政法人国立高等専門学校機構仙台は高等専門学校で行われる、中国4000年よりも深い深い歴史を持つ祭りである。それは年に一度開催され、中東の服装である”アバヤ”を来た人や、着ぐるみを着た人など多種多様な人が生息している。まるでテーマパークである。
        去年はクレープ屋やドーナツ屋、焼鳥屋が屋外で軒並みを連ねて来る人々のおなかを満たしていた。屋内では小学校の展示や科学部の製作、カードゲーム大会なども行われている。
      </p>
    </div>
    <div class="col-sm-6 offset-sm-1">
      <img
        src="https://www.sendai-nct.ac.jp/wp/wp-content/uploads/2018/10/hirose1.jpg"
        class="img-full"
      />
      <div>
          <a href="https://www.sendai-nct.ac.jp">仙台高専HP</a>から引用
      </div>
    </div>
  </div>
</div>
