<div class="container-fluid">
  <div class="row">
    <%= image_tag "banners/mainImg.jpg", :class => "img-fluid" %>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3 bg-primary">
      a
    </div>
    <div class="col-md-6 col-lg-3 bg-success">
      b
    </div>
    <div class="col-md-6 col-lg-3 bg-info">
      c
    </div>
    <div class="col-md-6 col-lg-3 bg-primary">
      d
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 bg-primary">10列</div>
  </div>
  <div class="row">
    <div class="col-md-7 bg-success">7列</div>
    <div class="col-md-5 bg-info">5列</div>
  </div>
</div>

<footer id="footer">
  <hr>
  <div class="inner">
    <section class="gridWrapper">
      <article class="grid">
        <p class="logo">
          <a href="index.html" title="ホームページサンプル株式会社" rel="home">高専祭HP<br/><span>National Instisute of Tehnology</span></a>
        </p>
      </article>
      <article class="grid">
        <p class="tel"><span>メール:</span> shomu.sf@hirose.nitech-sendai.jp <br/>(高専祭実行委員会 庶務部長行)</p>
        <p class="open">登録情報の確認・パスワードが忘れたなどの際にお問い合わせください</p>
      </article>
      <article class="grid copyright">
        Copyright(c) 2016 ホームページサンプル株式会社 All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank"
                                                                           rel="nofollow">http://f-tpl.com</a>
      </article>
    </section>
  </div>
</footer>
