<div id="wrapper">
  <h1 id="title">NEWS</h1>
  <p>高専祭とはXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
  <img src="https://www.sendai-nct.ac.jp/wp/wp-content/uploads/2018/10/hirose1.jpg">
  <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
</div>