<div id="wrapper">
  <h1 id="title">出店団体</h1>
  <% @team = Team.last %>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>名前</th>
          <th>出店内容</th>
          <th>出店場所</th>
        </tr>
      </thead>
      <tbody>
        <% @shops = Team.all  %>
        <% @shops.each do |shop| %>
        <tr>
          <th scope="row"><%= shop.id %></th>
          <td><%= shop.team_name %> </td>
          <td><%= shop.contents_of_store %></td>
          <td><%= shop.is_food_provision ? "屋外出店" : "学校内" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>