.registrations{
  .card{
    margin-top: 20px;
    margin-left: 240px;
    margin-right: 240px;
  }
  .pass-field{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .show-kenben{
    margin-top: 30px;
    margin-bottom: 30px;
  }

}
