body.static_pages {
  h1#title {
    margin: 0 0 30px;
    padding: 0 0 15px;
    font-size: 1.6rem;
    padding: 0.25em 0.5em;
    color: #494949;
    background: transparent;
    border-left: solid 5px #BCA5A5;
  }

  .img-full {
    width: 100%;
    height: auto;
  }


  .box {
    h3 {
      font-size: 12px
    }
  }

  .index-news {
    h3 {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 575px) {
    .img-shrink {
      width: 70%;
      height: auto;
    }
    .img{
      text-align:center;
    }
  }
}
